@font-face {
  font-family: 'Angel rhapsody';
  src: url('./src/assets/fonts/Angel rhapsody.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./src/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('./src/assets/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black-100;
  }

  body {
    @apply font-satoshi text-[16px] tracking-[-0.03em] text-p5;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply block max-w-full;
  }

  button {
    @apply bg-none tracking-[-0.03em];
  }

  input {
    @apply tracking-[-0.03em];
  }
}

@layer utilities {
  /* START of Common */
  .container {
    @apply mx-auto max-w-[1520px] max-xl:px-10 max-lg:px-6 max-sm:px-4;
  }
  
  .nav-li {
    @apply relative flex flex-1 items-center justify-between max-lg:flex-col max-lg:items-start lg:px-[52px];
  }
}